h1 {
    color: blue;
    font-family: 'Roboto Slab', serif;
}
.lion_tamagotchi {
    font-size: 100px;
    margin: 0
}
body {
    font-family: 'Fjalla One', sans-serif;
    background-color: whitesmoke;
    text-align: center;
    background-image: url(https://64.media.tumblr.com/010c46067b29b710ce9a508fb4171dfb/tumblr_inline_n1ubnjJXdz1qmvw6b.gif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
}
button {
    background-color: white;
}
p {
    font-size: large;
    color: blueviolet
}

.levelBtn {
    color: white;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border-radius: 50%;
    margin: 10px;
    font-family: 'Fjalla One', sans-serif;
}
.btnLabel {
    color:red;
    display: flex;
    justify-content: center;
}

#age_section {

}